.simple-form.tweet-compose {
  width: 340px;

}

.tweet-compose {
  label:first-of-type {
    display: none;
  }
  .tweet-actions {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

// classic for forms
.infinite-tweets {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tweets {

  margin-bottom: 20px;

  &:first-child {
    border-top: 1px #657786 solid;
  }

  .tweet {
    min-height: 150px;
    width: 300px;
    background-color: white;
    border-bottom: 1px #657786 solid;
    padding: 20px;

    a {
      color: #1da1f2;
    }

    .tweeter {
      font-size: 20px;
    }


    .tweetee a {
      font-size: 16px; 
    }

    // they had word-break: break-all which makes it break on any character. but i found a better
    // one: overflow-wrap: break-word. it only breaks on the word for new line if it absolutely has to if theres 
    // no other acceptable place to break but it doesnt like encourage it to break like the former.

    p {
      font-size: 25px;
      color: black;
      padding: 20px;
      margin: 20px;
      overflow-wrap: break-word;
      // word-break: break-all;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
    }
  }
}